In [1]:
from pymongo import MongoClient
from dotenv import load_dotenv
import pandas as pd
import os

In [2]:
load_dotenv()
username = os.getenv("MONGO_USER")
password = os.getenv("MONGO_PASS")

In [3]:
url_connection = f"mongodb+srv://{username}:{password}@dbpenguin.yrtiv.mongodb.net/test"

In [4]:
url_connection

'mongodb+srv://adminpenguin:34fzc3SHi47nhctj@dbpenguin.yrtiv.mongodb.net/test'

In [5]:
client = MongoClient(url_connection)
client

MongoClient(host=['dbpenguin-shard-00-00.yrtiv.mongodb.net:27017', 'dbpenguin-shard-00-01.yrtiv.mongodb.net:27017', 'dbpenguin-shard-00-02.yrtiv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-qg13ro-shard-0', ssl=True)

In [6]:
db = client.get_database("dbml-penguin")

In [35]:
#collection 
penguin_details = db.penguin_details

In [137]:
list(penguin_details.find({}))[:1]

[{'_id': ObjectId('616b6b5dbb168a89627c7f74'),
  'specie': 'Adelie Penguin',
  'weight': 3750.0,
  'sex': 'MALE',
  'location': {'region': 'Anvers', 'island': 'Torgersen'},
  'body_features': {'culmen_length_mm': 39.1,
   'culmen_depth_mm': 18.7,
   'lipper_length_mm': 181.0}}]

In [128]:
df_species = pd.read_csv("../data/species_details.csv")
df_breeding_pairs = pd.read_csv("../data/breeding_pairs.csv")
df_chicks_pairs = pd.read_csv("../data/chicks_pairs.csv")

In [129]:
def drop_col(dataframe):
    return dataframe.drop(columns=['Unnamed: 0'])

In [130]:
df_species = drop_col(df_species)
df_breeding_pairs = drop_col(df_breeding_pairs)
df_chicks_pairs = drop_col(df_chicks_pairs)

In [131]:
df_species

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin,Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin,Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin,Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin,Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie Penguin,Anvers,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...,...
329,Gentoo penguin,Anvers,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
330,Gentoo penguin,Anvers,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
331,Gentoo penguin,Anvers,Biscoe,50.4,15.7,222.0,5750.0,MALE
332,Gentoo penguin,Anvers,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
333,Gentoo penguin,Anvers,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [39]:
df_species.columns

Index(['Species', 'Region', 'Island', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex'],
      dtype='object')

In [43]:
#insert data intop mongo db collection penguin_details
for row in range(len(df_species)):
    specie = df_species["Species"][row]
    weight = df_species["Body Mass (g)"][row]
    sex = df_species["Sex"][row]
    region = df_species["Region"][row]
    island = df_species["Island"][row]
    culmen_length = df_species["Culmen Length (mm)"][row]
    culmen_depth = df_species["Culmen Depth (mm)"][row]
    lipper_length = df_species["Flipper Length (mm)"][row]

    data = {
        "specie": specie,
        "weight": weight,
        "sex": sex, 
        "location": {"region": region, "island": island},
        "body_features" : {
        "culmen_length_mm": culmen_length, 
        "culmen_depth_mm": culmen_depth,
        "lipper_length_mm": lipper_length
        }
    }
    
    penguin_details.insert_one(data)

In [49]:
gento = list(penguin_details.find({"specie":"Gentoo penguin"}))[:1]

In [50]:
gento

[{'_id': ObjectId('616b6b6abb168a89627c804a'),
  'specie': 'Gentoo penguin',
  'weight': 4500.0,
  'sex': 'FEMALE',
  'location': {'region': 'Anvers', 'island': 'Biscoe'},
  'body_features': {'culmen_length_mm': 46.1,
   'culmen_depth_mm': 13.2,
   'lipper_length_mm': 211.0}}]

In [52]:
lipper = gento[0]["body_features"]["lipper_length_mm"]
lipper

211.0

In [53]:
type(lipper)

float

In [54]:
df_species.head()

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin,Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin,Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin,Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin,Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie Penguin,Anvers,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [119]:
df_species.shape

(334, 8)

In [59]:
species = df_species.groupby(['Species', 'Island' ])

In [60]:
species.first()

                             Region  Culmen Length (mm)  Culmen Depth (mm)  \
Species           Island
Adelie Penguin    Biscoe     Anvers                37.8               18.3
                  Dream      Anvers                39.5               16.7
                  Torgersen  Anvers                39.1               18.7
Chinstrap penguin Dream      Anvers                46.5               17.9
Gentoo penguin    Biscoe     Anvers                46.1               13.2

                             Flipper Length (mm)  Body Mass (g)     Sex
Species           Island
Adelie Penguin    Biscoe                   174.0         3400.0  FEMALE
                  Dream                    178.0         3250.0  FEMALE
                  Torgersen                181.0         3750.0    MALE
Chinstrap penguin Dream                    192.0         3500.0  FEMALE
Gentoo penguin    Biscoe                   211.0         4500.0  FEMALE

In [110]:
average_weight = df_species.groupby(['Species']).agg(avg = ("Body Mass (g)", "mean")).reset_index()

In [111]:
average_weight

             Species          avg
0     Adelie Penguin  3706.164384
1  Chinstrap penguin  3733.088235
2     Gentoo penguin  5090.625000

In [173]:
average_weight['avg'][0]

3706.1643835616437

In [121]:
penguins_by_island = df_species.groupby(['Island']).agg(count = ("Species", "count")).reset_index()

In [122]:
penguins_by_island

      Island  count
0     Biscoe    164
1      Dream    123
2  Torgersen     47

In [175]:
penguins_by_island['count'][0]

164

In [118]:
penguins_by_island['count'].sum()

334

In [230]:
penguins_by_sex = df_species.groupby(['Sex']).agg(count = ("Sex", "count")).reset_index()

In [231]:
penguins_by_sex

      Sex  count
0       .      1
1  FEMALE    165
2    MALE    168

In [232]:
penguins_by_sex[:2]

      Sex  count
0       .      1
1  FEMALE    165

In [199]:
penguins_by_sex_island = df_species.groupby(['Island', 'Sex']).agg(count = ("Sex", "count")).reset_index()

In [209]:
penguins_by_sex_island

      Island     Sex  count
0     Biscoe       .      1
1     Biscoe  FEMALE     80
2     Biscoe    MALE     83
3      Dream  FEMALE     61
4      Dream    MALE     62
5  Torgersen  FEMALE     24
6  Torgersen    MALE     23

In [241]:
type(int(penguins_by_island['count'][1]))

int

In [168]:
species_distribution = df_species.groupby(['Species', 'Island']).agg(count = ("Species", "count")).reset_index()

In [169]:
species_distribution

             Species     Island  count
0     Adelie Penguin     Biscoe     44
1     Adelie Penguin      Dream     55
2     Adelie Penguin  Torgersen     47
3  Chinstrap penguin      Dream     68
4     Gentoo penguin     Biscoe    120

In [211]:
species_distribution['count'][0]

44

In [245]:
#database collection distribution_details 

average_weight = df_species.groupby(['Species']).agg(avg = ("Body Mass (g)", "mean")).reset_index()
penguins_by_island = df_species.groupby(['Island']).agg(count = ("Species", "count")).reset_index()
penguins_by_sex = df_species.groupby(['Sex']).agg(count = ("Sex", "count")).reset_index()
species_distribution = df_species.groupby(['Species', 'Island']).agg(count = ("Species", "count")).reset_index()

data = {
    "species" : ["Adelie","Chinstrap", "Gentoo"], 
    "average_weight": {"adelie": average_weight['avg'][0], "chinstrap": average_weight['avg'][1], "gentoo":average_weight['avg'][2]},
    "penguins_by_island" : {"dream": int(penguins_by_island['count'][1]), "torgersen": int(penguins_by_island['count'][2]), "biscoe": int(penguins_by_island['count'][0])},
    "total_penguins_by_sex" : { "total_sex_type" : {"male": int(penguins_by_sex['count'][2]), "famele": int(sum(penguins_by_sex['count'][:2]))}, 
                                "by_island" : {
                                    "dream" : {"male": int(penguins_by_sex_island['count'][4]), "famele": int(penguins_by_sex_island['count'][3])}, 
                                    "torgersen" : {"male": int(penguins_by_sex_island['count'][6]), "famele": int(penguins_by_sex_island['count'][5])}, 
                                    "biscoe" : {"male": int(penguins_by_sex_island['count'][2]), "famele": int(sum(penguins_by_sex_island['count'][:2]))} 
                                }
                        },
    "species_distribution" : {"adelie": {"dream": int(species_distribution['count'][1]), "torgersen": int(species_distribution['count'][2]), "biscoe": int(species_distribution['count'][0])},
                              "chinstrap": {"dream": int(species_distribution['count'][3]), "torgersen": 0, "biscoe": 0},
                              "gentoo": {"dream": 0, "torgersen": 0, "biscoe": int(species_distribution['count'][4])}
                            }

}

distribution_details = db.distribution_details
distribution_details.insert_one(data)

In [251]:
list(distribution_details.find({}))[0]['species_distribution']

{'adelie': {'dream': 55, 'torgersen': 47, 'biscoe': 44},
 'chinstrap': {'dream': 68, 'torgersen': 0, 'biscoe': 0},
 'gentoo': {'dream': 0, 'torgersen': 0, 'biscoe': 120}}

In [7]:
distribution_details = db.distribution_details

In [9]:
list(distribution_details.find({}))

[{'_id': ObjectId('616b88e9bb168a89627c80c4'),
  'species': ['Adelie', 'Chinstrap', 'Gentoo'],
  'average_weight': {'adelie': 3706.1643835616437,
   'chinstrap': 3733.0882352941176,
   'gentoo': 5090.625},
  'penguins_by_island': {'dream': 123, 'torgersen': 47, 'biscoe': 164},
  'total_penguins_by_sex': {'total_sex_type': {'male': 168, 'famele': 166},
   'by_island': {'dream': {'male': 62, 'famele': 61},
    'torgersen': {'male': 23, 'famele': 24},
    'biscoe': {'male': 83, 'famele': 81}}},
  'species_distribution': {'adelie': {'dream': 55,
    'torgersen': 47,
    'biscoe': 44},
   'chinstrap': {'dream': 68, 'torgersen': 0, 'biscoe': 0},
   'gentoo': {'dream': 0, 'torgersen': 0, 'biscoe': 120}}}]

In [252]:
df_breeding_pairs.head()

,Season,Adélie breeding pairs,Chinstrap breeding pairs,Gentoo breeding pairs
0,1978,1873.0,2050.0,370.0
1,1979,2269.0,2253.0,303.0
2,1980,1726.0,1809.0,330.0
3,1981,1831.0,2250.0,341.0
4,1982,2631.0,2334.0,299.0

In [253]:
df_chicks_pairs.head()

,Season,Adélie chicks fledged per pair,Chinstrap chicks fledged per pair,Gentoo chicks fledged per pair
0,1978,0.60,1.27,0.60
1,1979,0.50,0.24,0.63
2,1980,0.86,0.05,0.44
3,1981,1.05,0.72,1.51
4,1982,0.73,0.74,1.07

In [264]:
# collection data penguin_breeding_signy

penguin_breeding_signy = db.penguin_breeding_signy
for row in range(len(df_breeding_pairs)):
    
    
    data = {
        "location" : {"region": "Southern Atlantic", "island": "Signy Island"},
        "year" : int(df_chicks_pairs['Season'][row]), 
        #number of pairs that can reproduce
        "breeding_pairs" : {"chinstrap": df_breeding_pairs['Chinstrap breeding pairs'][row], 
                        "adelie": df_breeding_pairs['Adélie breeding pairs'][row],
                        "gentoo": df_breeding_pairs['Gentoo breeding pairs'][row]
                        },
        ##number chicks fledged per pair                
        "chicks_fledged_per_pair" : {"chinstrap": df_chicks_pairs['Chinstrap chicks fledged per pair'][row],
                                "adelie": df_chicks_pairs['Adélie chicks fledged per pair'][row],
                                "gentoo": df_chicks_pairs['Gentoo chicks fledged per pair'][row]
                        }, 
        
         "average_born_by_species" : {"chinstrap": df_breeding_pairs['Chinstrap breeding pairs'][row] * df_chicks_pairs['Chinstrap chicks fledged per pair'][row],
                                "adelie": df_breeding_pairs['Adélie breeding pairs'][row] * df_chicks_pairs['Adélie chicks fledged per pair'][row],
                                "gentoo": df_breeding_pairs['Gentoo breeding pairs'][row] * df_chicks_pairs['Gentoo chicks fledged per pair'][row]
                        }

       
        
    }
        
    penguin_breeding_signy.insert_one(data)

In [268]:
list(penguin_breeding_signy.find({}))[0]

{'_id': ObjectId('616b8ddbbb168a89627c80c6'),
 'location': {'region': 'Southern Atlantic', 'island': 'Signy Island'},
 'year': 1978,
 'breeding_pairs': {'chinstrap': 2050.0, 'adelie': 1873.0, 'gentoo': 370.0},
 'chicks_fledged_per_pair': {'chinstrap': 1.27, 'adelie': 0.6, 'gentoo': 0.6},
 'average_born_by_species': {'chinstrap': 2603.5,
  'adelie': 1123.8,
  'gentoo': 222.0}}